$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// -------------------------------  EFFECTS
@mixin effect_color {
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
@mixin effect_opacity {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@mixin effect_bg {
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}


// -------------------------------  MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point == xl {
        @media (max-width: 1365px) { @content; }
    }
    @else if $point == lrg {
        @media (max-width: 1199px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 991px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 850px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 550px)  { @content; }
    }
    @else if $point == xxs {
        @media (max-width: 400px)  { @content; }
    }
}


// -------------------------------  MAIN
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.btn-lg {
  font-size: 3em;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.spevco {
  .bx-wrapper {
    border: 0;
    box-shadow: none;
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 55px;
  }
}
// -------------------------------  HOME
.spevco {
  // navbar
  .main-nav {
    background: rgba(255, 255, 255, 0.65);
  }
  .navbar-brand {
    width: 229px;
    height: auto;
    img {
      width: 100%;
    }
  }
  .navbar-nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }
  // main-slider
  .container-main-slider {
    position: relative;
    .btn-contact {
      position: absolute;
      right: 0;
      top: 30%;
      background: #E14335;
    }
  }
  .main-slider {
    .content-slide {
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 10%;
      h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 6.429em;
        font-weight: 700;
      }
      .btn-lg {
    
      }
    }
    .img-container {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
}