$icon-font-path: '../fonts/';
$grid-float-breakpoint: 991px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// -------------------------------  EFFECTS
@mixin effect_color {
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
@mixin effect_opacity {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@mixin effect_bg {
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}


// -------------------------------  MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point == xl {
        @media (max-width: 1365px) { @content; }
    }
    @else if $point == lrg {
        @media (max-width: 1199px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 991px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 850px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 550px)  { @content; }
    }
    @else if $point == xxs {
        @media (max-width: 400px)  { @content; }
    }
}


// -------------------------------  MAIN
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #F3F3F3;
}
.spacer {
  min-height: 1px;
}
.btn-lg {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background: #F2B305;
  padding: 10px 15px;
  position: relative;
  border-radius: 0;
  @include effect_bg;
  &:hover, &:active, &:focus {
    @include effect_bg;
    background: #02aae6;
    color: #fff;
    text-decoration: none;
    .icon {
      @include effect_bg;
      background: #c6c6c6;
    }
  }
  @include breakpoint(lrg) { 
    font-size: 2em;
  } 
  @include breakpoint(xs) { 
    font-size: 1.2em;
    margin-top: 0 !important;
  } 
  .icon {
    background: #9d9d9d;
    height: 76px;
    position: absolute;
    right: -76px;
    top: 0;
    width: 76px;
    text-align: center;
    padding-top: 11px;
    @include breakpoint(lrg) { 
      height: 57px;
      width: 57px;
      right: -57px;
    } 
    @include breakpoint(xs) { 
      height: 42px;
      width: 42px;
      right: -42px;
    } 
    .arrow-right {
      width: 25px;
      @include breakpoint(lrg) { 
        width: 16px;
      } 
      @include breakpoint(xs) { 
        width: 12px;
      } 
    }
  }
}
.btn-md {
  font-size: 2.143em;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background: #F2B305;
  padding: 10px 15px;
  position: relative;
  border-radius: 0;
  display: inline-block;
  @include effect_bg;
  &:hover, &:active, &:focus {
    @include effect_bg;
    background: #02aae6;
    color: #fff;
    text-decoration: none;
    .icon {
      @include effect_bg;
      background: #c6c6c6;
    }
  }
  @include breakpoint(lrg) { 
    font-size: 1.2em;
  } 
  .icon {
    @include effect_bg;
    background: #9d9d9d;
    height: 63px;
    position: absolute;
    right: -63px;
    top: 0;
    width: 63px;
    text-align: center;
    padding-top: 11px;
    @include breakpoint(lrg) { 
      width: 44px;
      height: 44px;
      right: -44px;
    } 
    .arrow-right {
      width: 16px;
      @include breakpoint(lrg) { 
        width: 12px;
      } 
    }
  }
}
.txt-bold {
  font-weight: 600;
}
.spevco {
  .bx-wrapper {
    border: 0;
    box-shadow: none;
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 55px;
    @include breakpoint(sm) { 
      bottom: 20px;
    } 
    @include breakpoint(xs) { 
      bottom: 5px;
    } 
  }
  .bx-wrapper .bx-controls-direction a {
    z-index: 5;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #B2B2B2;
    border: solid 2px #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #ff4335;
  }
  .section-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3em;
    @include breakpoint(xs) { 
      font-size: 1.8em;
    } 
  }
  .txt-italic {
    font-style: italic;
    font-weight: 600;
  }
  form {
    input {
      border-radius: 0;
      background: #E7E8E9;
    }
    select {
      background: #E7E8E9;
      border-radius: 0;
    }
    textarea {
      background: #E7E8E9;
      border-radius: 0;
    }
    .btn-send {
      background: #F2B305;
      color: #fff;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 0;
      border: 0;
      font-size: 1.2em;
      @include effect_bg;
      &:hover, &:focus, &:active {
        background: #02aae6;
        @include effect_bg;
      }
    }
  }
}
// PRELOADER
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}
@keyframes smoke {
  0% {
    transform: translate3d(10px, 10px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  50% {
    transform: translate3d(10px, 20px, 0px);
    animation-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translate3d(10px, 10px, 0px);
    opacity: 1;
  }
}
@keyframes fly {
  0% {
    transform: translate3d(10px, 10px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(10px, 20px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(10px, 10px, 0px);
  }
}
.entry-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
   -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 0.6s ease-out; 
  transition: all 0.3s 0.6s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #ff4335;
  z-index: 1050;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out; 
  transition: all 0.3s 0.3s ease-out;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 255px;
  height: 230px;
  margin: -128px 0 0 -128px;
  z-index: 1051;
  .loader-rocket {
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 1051;
    animation: fly 4s infinite;
  }
  .loader-rocket-smoke {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1051;
    animation: smoke 4s infinite;
  }
}
// -------------------------------  HOME
.spevco {
  overflow-x: hidden;
  // navbar
  .main-nav {
    background: rgba(255, 255, 255, 0.9);
    border-left: 5px solid #ff4335;
    top: -110px;
    @include breakpoint(lrg) { 
      text-align: center;
    } 
  }
  .navbar-header {
    @include breakpoint(lrg) { 
      float: none;
      display: inline-block;
    } 
    @include breakpoint(md) { 
      display: block;
    } 
  }
  .navbar-brand {
    width: 229px;
    height: auto;
    padding-top: 27px;
    margin-right: 35px;
    margin-left: 10px !important;
    @include effect_opacity;
    @include breakpoint(lrg) { 
      padding-top: 15px;
      margin-right: 0px;
      margin-left: 0px !important;
    } 
    &:hover {
      @include effect_opacity;
      opacity: 0.8;
    }
    img {
      width: 100%;
    }
  }
  .navbar-nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-top: 27px;
    font-weight: 700;
    @include breakpoint(lrg) { 
      padding-top: 0;
      float: none;
    } 
    @include breakpoint(md) { 
      margin-bottom: 0;
    } 
    li {
      @include breakpoint(lrg) { 
        display: inline-block;
        float: none;
      } 
      @include breakpoint(md) { 
        display: block;
      } 
    }
    a {
      color: #575757;
      border-left: 3px solid #ff4335;
      @include effect_bg;
      @include breakpoint(lrg) { 
        margin-left: -3px;
      } 
      &:hover, &:active, &:focus {
        background: #ff4335;
        color: #fff;
        @include effect_bg;
      }
    }
    .dropdown-menu {
      width: 210px;
      border-radius: 0;
      text-align: center;
      padding: 0;
      background: rgba(255,255,255, 0.8);
      @include breakpoint(md) { 
        width: 100%;
      } 
      li {
        @include breakpoint(lrg) { 
          display: block;
        } 
        &:last-child {
          a {
            border: 0;
          }
        }
        a {
          border-left: 0;
          padding: 15px 0;
          border-bottom: solid 1px #ff4335;
          font-weight: 400;
        }
      }
    }
  }
  .navbar-right {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 85px;
    a {
      border: 0;
      color: #fff;
      background: #f2b305;
      padding: 10px 15px;
      position: relative;
      @include effect_bg;
      &:hover, &:active, &:focus {
        background: #02aae6;
        color: #fff;
        @include effect_bg;
        .icon {
          @include effect_bg;
          background: #c6c6c6;
        }
      }
      .txt {
        font-size: 1.5em;
      }
      .icon {
        background: #9d9d9d;
        height: 64px;
        position: absolute;
        right: -64px;
        top: 0;
        width: 64px;
        text-align: center;
        padding-top: 15px;
        .arrow-right {
          width: 20px;
        }
      }
    }
  }
  .navbar-toggle {
    margin-top: 28px;
    .icon-bar {
      background: #ff4335;
    }
  }
  // main-slider
  .container-main-slider {
    position: relative;
    overflow: hidden;
    .bx-wrapper {
      z-index: 2;
      background: transparent;
      margin-bottom: 0;
    }
    .content-slide {
      margin-left: 6%;
      margin-top: 15%;
      margin-bottom: 10%;
      @include breakpoint(lrg) { 
        margin-top: 18%;
      } 
      @include breakpoint(xs) { 
        margin-top: 25%;
      } 
      @include breakpoint(xxs) { 
        margin-top: 30%;
      } 
    }
    .container-video {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      .video-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url('../images/video-overlay.png') repeat;
      }
    }
    #daVideo {
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
    .btn-contact {
      position: fixed;
      right: 0;
      top: 30%;
      background: #ff4335;
      z-index: 7;
      @include effect_bg;
      &:hover, &:active, &:focus, &.active {
        background: #02aae6;
        @include effect_bg;
      }
      @include breakpoint(xs) { 
        display: none;
      } 
    }
    .slider-contact-info {
      position: fixed;
      right: 50px;
      top:30%;
      display: none;
      background: rgba(0,0,0,0.9);
      height: 349px;
      width: 500px;
      color: #fff;
      z-index: 6;
      &.active {
        right: 60px;
      }
      @include breakpoint(xs) { 
        display: none !important;
      } 
      h2 {
        background: rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 2.857em;
        font-weight: 700;
        margin: 0;
        padding-top: 15px;
        padding-left: 30px;
        white-space: nowrap;
        border-left: solid 4px #ff4335;
        padding-bottom: 15px;
      }
      .wrapper-slider-contact-info {
        padding: 20px 5px 15px 30px;
        span {
          float: left;
          white-space: nowrap;
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        font-size: 1.286em;
      }
      li {
        overflow: hidden;
        margin-bottom: 15px;
      }
      .icon {
        width: 62px;
        display: inline-block;
        margin-right: 15px;
      }
      .info-contact {
        margin-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        &.single-line {
          margin-top: 20px;
        }
      }
    }
  }
  .main-slider {
    .content-slide {
      h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 6em;
        font-weight: 700;
        line-height: 1.2em;
        @include breakpoint(lrg) { 
          font-size: 4em;
        } 
        @include breakpoint(xs) { 
          font-size: 2.5em;
        } 
        @include breakpoint(xxs) { 
          font-size: 2em;
        } 
      }
      .btn-lg {
        margin-top: 25px;
      }
    }
  }
  // customer-stories
  .customer-stories {
    padding: 70px 0 100px;
    @include breakpoint(lrg) { 
      padding: 50px 0;
    } 
    .bx-wrapper {
      margin-bottom: 20px;
    }
    .bx-wrapper .bx-controls-direction a {
      top: auto;
      bottom: -85px;
      @include breakpoint(lrg) { 
        top: 50%;
        bottom: auto;
      } 
    }
    .section-title {
      text-align: center;
      color: #575757;
      width: 785px;
      left: 700px;
      display: inline-block;
      position: relative;
      opacity: 0;
      margin-left: -392.5px;
      @include breakpoint(md) { 
        opacity: 1;
        left: auto;
        width: auto;
        margin-left: 0;
      }
    }
    .bx-wrapper {
      background: transparent;
    }
    .stories-pager {
      text-align: center;
      @include breakpoint(lrg) { 
        display: none;
      } 
      a {
        display: inline-block;
        margin: 0 20px;
        width: 100px;
        opacity: 0.5;
        @include effect_opacity;
        &:hover, &.active {
          opacity: 1;
          @include effect_opacity;
        }
        img {
          max-width: 100%;
        }
      }
    }
    h2 {

    }
    .container-stories-slider {
      background: #575757;
    }
    .stories-slider {
      .img-story {
        padding: 0;
      }
      .info-story {
        color: #fff;
        padding: 90px 50px;
        text-align: center;
        @include breakpoint(lrg) { 
          padding: 35px 45px;
        } 
        .btn-md {
          margin-right: 63px;
          margin-top: 20px;
        }
      }
      .logo-story {
        width: 200px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        img {
          display: inline-block;
          max-width: 100%;
        }
      }
    }
  }

  // learn
  .learn {
    overflow: hidden;
    background: #94cad6;
    color: #fff;
    padding: 100px 0;
    position: relative;
    @include breakpoint(md) { 
      padding: 70px 0;
    }
    .txt-italic {
      position: absolute;
      background: rgba(0,0,0,0.5);
      padding: 30px 20px 30px 8%;
      left: 0;
      bottom: 17.5%;
      width: 45%;
      z-index: 1;
      @include breakpoint(lrg) { 
        bottom: 9.5%;
      }
      @include breakpoint(md) { 
        position: relative;
        bottom: auto;
        width: 96%;
        padding: 30px;
        margin-left: 15px;
      }
      @include breakpoint(sm) { 
        width: 94%;
      }
      @include breakpoint(xxs) { 
        width: 92%;
      }
    }
    .info-learn {
      position: relative;
      z-index: 1;
      .section-title {
        left: -100px;
        display: inline-block;
        position: relative;
        opacity: 0;
        @include breakpoint(md) { 
          opacity: 1;
          left: auto;
        }
      }
      h2 {
        padding-left: 20px;
        border-left: solid 4px #ff4335;
      }
    }
    .video-learn {
      position: relative;
      z-index: 1;
    }
    #parallaxRocket {
      padding-bottom: 0;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-bottom: 0;
    }
    .layerClouds {
      background: url('../images/clouds.png');
      height: 510px;
      width: 1366px;
      background-size: cover;
      position: absolute;
      opacity: 0;
      top: -300px;
    }
    .layerRocket {
      background: url('../images/rocket.png');
      width: 545px;
      height: 451px;
      position: absolute;
      animation: bobble 4s infinite;
      margin-top: 0px;
      margin-left: 0%;
      opacity: 0;
      bottom: -300px;
      left: -300px;
    }
    @keyframes bobble {
        0% {
            transform: translate3d(50px, 40px, 0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translate3d(50px, 50px, 0px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translate3d(50px, 40px, 0px);
        }
    }
  }

  //process
  .process {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 70px 0 65px;
    @include breakpoint(md) { 
      padding: 70px 0;
    }
    .section-title {
      text-align: center;
      width: 785px;
      left: 700px;
      display: inline-block;
      position: relative;
      opacity: 0;
      margin-left: -392.5px;
      @include breakpoint(md) { 
        opacity: 1;
        left: auto;
        width: auto;
        margin-left: 0;
      }
    }
    .container-process-slider {
      position: relative;
      z-index: 1;
      @include breakpoint(md) { 
        text-align: center;
      }
      .bx-wrapper {
        background: transparent;
      }
      .bx-controls {
        @include breakpoint(md) { 
          display: none;
        }
        @include breakpoint(sm) { 
          display: inline-block;
        }
      }
    }
    .process-slider {
      h3 {
        display: none;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        @include breakpoint(sm) { 
          display: block;
          width: 85%;
        }
      }
      li {
        z-index: 1 !important;
        p {
          width: 85%;
          margin: 0 auto;
          @include breakpoint(md) { 
            margin: 0;
          }
        }
      }
    }
    .process-pager {
      text-align: center;
      opacity: 0;
      position: relative;
      bottom: -100px;
      @include breakpoint(sm) { 
        display: none;
      }
      .st10 {
        fill: #fff;
      }
      .st9 {
        fill: #fff;
      }
      .st8 {
        fill: #fff;
      }
      .st7 {
        fill: #fff;
      }
      .st6 {
        fill:none;
        stroke:#FFFFFF;
        stroke-width:3.6527;
        stroke-miterlimit:10;
      }
      .st5 {
        fill: #fff;
      }
      a {
        display: inline-block;
        margin: 0 20px;
        .icon {
          background: transparent;
          @include effect_bg;
        }
        &.active, &:hover {
          .icon {
            @include effect_bg;
            background: #f2b305;
          }
          .st10 {
            fill: #1d1d1b;
          }
          .st9 {
            fill: #1d1d1b;
          }
          .st8 {
            fill: #1d1d1b;
          }
          .st7 {
            fill: #1d1d1b;
          }
          .st6 {
            stroke:#1d1d1b;
          }
          .st5 {
            fill: #1d1d1b;
          }
        }
        .icon {
          border: solid 4px #F2B305;
          height: 140px;
          width: 140px;
          border-radius: 50%;
          line-height: 140px;
          @include breakpoint(md) { 
            height: 100px;
            width: 100px;
            line-height: 100px;
          }
        }
        .svg-icon {
          width: 62px;
          vertical-align: middle;
          @include breakpoint(md) { 
            width: 40px;
          }
        }
      }
      .text {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        font-size: 1.2em;
        margin-top: 15px;
        display: inline-block;
      }
    }
    .process-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .container-process-slider {
      .bx-wrapper {
        margin-bottom: 35px;
      }
    }
  }
  // blog-feed
  .blog-feed {
    overflow: hidden;
    padding: 100px 0;
    @include breakpoint(md) { 
      padding: 70px 0;
    }
    .section-title {
      margin-top: 0;
      text-align: center;
      color: #575757;
      width: 785px;
      left: 700px;
      position: relative;
      opacity: 0;
      margin-left: -392.5px;
      display: block;
      @include breakpoint(md) { 
        left: 0;
        width: auto;
        opacity: 1;
        margin-left: 0;
      } 
    }
    .blog-post {
      margin-bottom: 35px;
    }
    .wrapper-info-post {
      height: 300px;
      overflow: hidden;
      background-size: cover;
      position: relative;
      background-position: center;
    }
    .info-post {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 28%;
      background: rgba(226, 66, 53, 0.8);
      color: #fff;
      padding: 20px;
      width: 100%;
      @include breakpoint(lrg) { 
        padding-top: 5px;
      }
      @include breakpoint(sm) { 
        padding-top: 20px;
      }
      p {
        max-height: 120px;
        overflow: hidden;
        @include breakpoint(xs) { 
          max-height: 80px;
          text-overflow:ellipsis;
        }
      }
      time {
        font-size: 0.9em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
      h1 {
        font-size: 1.3em;
        margin-top: 5px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
      }
      .btn-md {
        font-size: 1.2em;
        margin-top: 15px;
        background: #f2b305;
        &:hover {
          background: #02aae6;
          .icon {
            background: #c6c6c6;
          }
        }
        .icon {
          background: #9d9d9d;
          height: 44px;
          width: 44px;
          right: -44px;
        }
      }
    }
    .icon-post {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 30px;
      width: 30px;
      color: #fff;
      text-align: center;
      font-size: 1.8em;
      line-height: 30px;
      background: #D2D2D2;
      @include effect_bg;
      span::after {
        content: '-';
      }
      &.more {
        background: #F2B305;
        @include effect_bg;
        span::after {
          content: '+';
        }
      }
    }
  }
  // contact
  .contact {
    padding: 100px 0;
    background: #4b4c4f url('../images/bg-contact.png');
    background-size: cover;
    color: #fff;
    overflow: hidden;
    @include breakpoint(md) { 
      padding: 70px 0;
    }
    .section-title {
      border-left: 4px solid #ff4335;
      padding-left: 20px;
      margin-top: 0;
      left: -100px;
      display: inline-block;
      position: relative;
      opacity: 0;
      @include breakpoint(md) { 
        opacity: 1;
        left: auto;
      }
    }
    .txt-italic {
      margin-bottom: 20px;
    }
    .container-contact-form {
      margin-right: 50px;
      @include breakpoint(md) { 
        margin-right: 0;
      }
      .last {
        position: relative;
      }
      textarea {
        height: 175px;
      }
      .btn-send {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .container-contact-map {
      position: relative;
      li {
        overflow: hidden;
        margin-top: 10px;
      }
      .icon {
        float: left;
        margin-right: 15px;
        width: 46px;
        @include breakpoint(lrg) { 
          display: none;
        }
        @include breakpoint(md) { 
         display: block;
        }
        @include breakpoint(xs) { 
         display: none;
        }
      }
      .info-contact {
        float: left;
        margin-top: 4px;
        &.single-line {
          margin-top: 14px;
        }
      }
    }
    .info-contact-map {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      height: 270px;
      h3 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        border-left: 4px solid #ff4335;
        padding-left: 20px;
        font-weight: 700;
        padding-top: 15px;
        padding-right: 30px;
        margin-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        background: rgba(0, 0, 0, 0.2);
      }
      .wrapper-contact-list {
        padding: 15px 30px;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }
    .map-content {
      color: #515559;
      .firstHeading {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
      }
    }
    #mapCanvas {
      height: 600px;
      width: 100%;
    }
  }
  // sign-up
  .sign-up {
    padding: 100px 0;
    @include breakpoint(md) { 
      padding: 70px 0;
    }
    .logo-footer {
      text-align: center;
      margin-bottom: 20px;
      opacity: 0;
      position: relative;
      bottom: -100px;
      @include breakpoint(md) { 
        opacity: 1;
        bottom: auto;
      }
      img {
        width: 160px;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      display: inline-block;
      margin-right: -4px;
      @include breakpoint(sm) { 
        width: 50%;
      }
      @include breakpoint(xxs) { 
        width: 100%;
      }
    }
    .sign-up-links {
      padding-top: 40px;
      margin-top: 30px;
      border-top: solid 1px #1D1D1B;
      padding-left: 0;
      @include breakpoint(lrg) { 
        text-align: center;
        padding-left: 15px;
      }
      a {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        border-left: 3px solid #ff4335;
        padding: 10px;
        font-weight: 700;
        color: #575757;
        display: block;
        background: transparent;
        @include effect_bg;
        &:hover, &:focus, &:active {
          background: #ff4335;
          color: #fff;
          text-decoration: none;
          @include effect_bg;
        }
        @include breakpoint(sm) { 
          border: 0;
        }
      }
    }
    .sign-up-form {
      padding-top: 40px;
      margin-top: 30px;
      border-top: solid 1px #1D1D1B;
      padding-right: 0;
      @include breakpoint(lrg) { 
        border: 0;
        padding-top: 0;
        padding-right: 15px;
      }
      @include breakpoint(xs) { 
        width: 100%;
        margin-left: 0;
      }
      .form-group {
        width: 100%;
        overflow: hidden;
      }
      input[type="email"] {
        width: 100%;
        background: #D2D2D2;
        font-size: 0.9em;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
        text-transform: uppercase;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
        text-transform: uppercase;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
        text-transform: uppercase;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
        text-transform: uppercase;
      }
      .container-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        @include breakpoint(sm) { 
          bottom: auto;
          top: 0;
        }
        @include breakpoint(xs) { 
          right: 15px;
        }
        @include breakpoint(xxs) { 
          position: relative;
          right: auto;
          text-align: center;
          margin-top: 15px;
        }
      }
      .btn-send {
        background: #F2B305;
        border-radius: 0;
        border: 0;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1em;
        position: relative;
        padding-right: 45px;
        @include effect_bg;
        &:hover, &:active, &:focus {
          background: #02aae6;
          @include effect_bg;
          .icon {
            @include effect_bg;
            background: #c6c6c6;
          }
        }
        .icon {
          background: #9d9d9d;
          height: 34px;
          width: 34px;
          line-height: 34px;
          position: absolute;
          right: 0;
          top: 0;
        }
        .arrow-right {
          width: 10px;
        }
      }
    }
  }
  // main-footer
  .main-footer {
    padding-top: 80px;
    overflow: hidden;
    color: #fff;
    background: #1D1D1B;
    @include breakpoint(md) { 
      padding-top: 50px;
    }
    h3 {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 1.4em;
      @include breakpoint(xs) { 
        margin-top: 30px;
      }
    }
    .footer-links {
      @include breakpoint(xs) { 
        text-align: center;
        width: 100%;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      li {
        margin-bottom: 15px;
        &::before {
          content: '>';
          color: #ff4335;
          padding-right: 10px;
        }
      }
      a {
        color: #fff;
        @include effect_color;
        &:hover {
          color: #F2B305;
          text-decoration: none;
          @include effect_color;
        }
      }
    }
    .recent-news {
      @include breakpoint(xs) { 
        text-align: center;
        width: 100%;
      }
      .wrapper-post-news {
        overflow: hidden;
        margin-bottom: 20px;
        @include breakpoint(xs) { 
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .img-wrapper {
          width: 81px;
          height: 79px;
          overflow: hidden;
          float: left;
          margin-right: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          @include breakpoint(xs) { 
            float: none;
            display: inline-block;
            margin-right: 0;
          }
        }
        a {
          color: #fff;
          float: left;
          width: 90%;
          height: 60px;
          overflow: hidden;
          @include effect_color;
          &:hover {
            color: #F2B305;
            text-decoration: none;
            @include effect_color;
          }
          @include breakpoint(xs) { 
            float: none;
            width: 100%;
          }
        }
        .info-post-news {
          margin-top: 20px;
          overflow: hidden;
          @include breakpoint(xs) { 
            margin-top: 10px;
          }
          span {
            color: #ff4335;
            padding-right: 15px;
            float: left;
            width: 5%;
            display: block;
            @include breakpoint(xs) { 
              float: none;
              display: inline-block;
            }
          }
        }
      }
    }
    .info-contact {
      @include breakpoint(xs) { 
        text-align: center;
        width: 100%;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      li {
        margin-bottom: 15px;
        overflow: hidden;
      }
      .icon-arrow {
        color: #ff4335;
        padding-right: 15px;
        float: left;
        width: 5%;
        display: block;
        @include breakpoint(xs) { 
          float: none;
          display: inline-block;
          padding-right: 5px;
        }
      }
      .txt {
        float: left;
        width: 90%;
        @include breakpoint(xs) { 
          float: none;
          width: 100%;
        }
      }
    }
    .social-links {
      @include breakpoint(xs) { 
        text-align: center;
        width: 100%;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        left: 700px;
        position: relative;
        opacity: 0;
        @include breakpoint(md) { 
          left: auto;
          opacity: 1;
        } 

      }
      li {
        margin-bottom: 20px;
        margin-right: 20px;
        display: inline-block;
        @include breakpoint(lrg) { 
          margin-bottom: 10px;
          margin-right: 10px;
        }
      }
      a {
        display: block;
        width: 50px;
        height: 50px;
        background: #949494;
        line-height: 65px;
        text-align: center;
        @include effect_bg;
        &:hover {
          background: #ff4335;
          @include effect_bg;
        }
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .legal {
      background: #3C3C3C;
      margin-top: 80px;
      padding: 10px 0;
      text-align: center;
      font-size: 0.8em;
    }
  }
  
}